ul {
  list-style-type: none;
  margin: 10px;
  padding-left: 10px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 5%;
    background-color: #0b491b;
    border-radius: 8px;
    box-shadow: 2px 2px #000000;
}
.logo{
  font-weight: bold;
}
header a{
  text-decoration: none !important;
  color: #fff;
  font-size: 17px;
}

header a:hover{
  color: #1a9e3b;
}

.content{
  padding: 2% 5%;

}

body {
  background: #242627;
  color: rgb(250, 242, 232);
  height: 100%;
  }

div {
  word-wrap: normal;
  width: 600px;
}

b {
  color: #1a9e3b;
}

mark {
  background-color: #1a9e3b;
  padding: 0px;
}
.btn{
  padding: 1rem !important;
  border-radius: 20px;
}

.btn-refresh{
  background-color: #1a9e3b !important;
  font-size: 2.5rem;
}
button.btn.def {
  background-color: #0b491b;
  border-color: #0b491b;
  box-shadow: 2px 2px #000000;
  color:rgb(250, 242, 232);
  padding: 3px;
  margin: 3px;
  text-align: center;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  display: inline-block;
}
.ans{
  margin-left: 60px !important;
  font-size: large;
  color: #1a9e3b;
}

button.btn.def:hover {
  border-color: #06270e;
  background-color: #0b491b;
  transition: all ease-in-out 0s;
  color:rgb(250, 242, 232);
}

img {
  padding-top: 10px;
  padding: 10px;
  max-width: 600px;
  max-height: 600px;
    width: 100%;
    height: auto;
}